.psj-experience-column {
    position: relative;
    margin-bottom: 8rem;
    margin-left: 8vw;

    @media (min-width: 880px) {
        max-width: 70rem;
        margin-right: auto;
        margin-left: auto;
    }

    &::before {
        @extend %dots;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -10rem;
        width: 7rem;
        height: 7rem;
        transform: rotate(15deg);
    };

    small {
        display: block;
        color: var(--less-grey);
    }
}

.psj-experience-position {
    display: inline-block;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--accent-yellow);
}
