.psj-header-wrapper {
    display: grid;
    gap: 5rem;
    padding-top: 6rem;
    padding-bottom: 3rem;

    @media (min-width: 880px) {
        grid-template-columns: minmax(150px, 350px) minmax(300px, 1fr);
        align-items: center;
    }
}

.psj-header-image-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 250px;

    @media (min-width: 880px) {
        max-width: 350px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: block;
        width: 100%;
        height: 100%;
        border: 5px solid var(--primary-green);
    }
}

.psj-header-image {
    width: 100%;
    height: auto;
}

.psj-header-text-wrapper {
    text-align: center;

    @media (min-width: 880px) {
        text-align: left;
    }

    h2 {
        color: #8f6e03;
    }
}
