%dots {
    background-image:
        radial-gradient(var(--less-grey) 15%, transparent 0), 
        radial-gradient(var(--primary-green) 20%, transparent 0);
    background-size: 30px 30px;
    background-position: 10px 5px, 20px 20px;
}
