:root {
    --primary-green: #1c544D;
    --accent-yellow: #cca21b;
    --text-black: #181611;
    --less-grey: #666f7d;
    --background-grey: #e4ecf4;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
} 

body {
    color: var(--text-black);
    font-family: 'Helvetica';
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
}

main {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 4vw;
    overflow-x: hidden;
}

article {
    padding: 3rem 0;
}

.psj-404-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.psj-404 {
    margin: 4rem 0;
}
