%grid {
    display: grid;
    gap: 3rem;
}

%grid-columns {
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    justify-content: space-evenly;
}

%grid-tiles {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
